{{!--
Partial : user/ Profil utilisateur
--}}

<section>
    <div class="container">
        <h2>Mon Profil</h2>
        {{#each dbuser}}
        <div class="col-lg-4 mx-auto">
            <div class="card mb-4 user-details">
                <div class="card-body text-center">

                    <img src="/assets/data/users/{{this.imguser}}" alt="avatar"
                        class="rounded-circle img-fluid border border-4" style="width: 150px;">

                    <h5 class="my-3 fw-bold">{{ pseudo }}</h5>
                    <p class="mb-4">{{name}}</p>
                    <p class="mb-4">{{firstname}}</p>
                    <p class="mb-4">{{email}}</p>

                </div>
            </div>
        </div>

        {{/each}}

</section>