{{!--
Partial : user/ Profil utilisateur
--}}

<section>
    <div class="container">
        <h2>Mon Profil</h2>
        {{#each dbuser}}

        <div class="text-center">
            <img src="/assets/data/users/{{ this.imguser }}" class="img-fluid rounded" alt="image de pofil">
            <p class="card-title">Pseudo: {{ this.pseudo }}</p>
            <p class="card-text">Prénom: {{ this.firstname }}</p>
            <p class="card-text">Nom: {{ this.name }}</p>
            <p class="card-text">Email: {{ this.email }}</p>
        </div>




        {{/each}}
</section>