{{!--
Partial : Home/Cards (News)
--}}
<!--- Cards-->
<section class="famille-cards" id="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Actualités</h2>

            </div>
           
            {{#each dbarticles }}

            <div class="col-md-4">
                <div class="famille-details card">
                    <img class="card-img-top" src="/assets/data/articles/{{ this.imgarticle }}" alt="paysage">
                    <div class="card-body">
                        <h4 class="card-title">{{this.title}}</h4>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text text-muted">Author :</p>
                        <div class="card-footer  bg-transparent">
                            <a href="blog/{{ title }}" class="btn btn-ghost">Voir l'article</a></div>
                            <p class="text-muted">Date: {{ this.dateart }} </p>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>

</section>