{{!--
Modal / Admin : Gestion card
--}}

<!-------------------------- Modal add cards ------------------------------->
<div class="modal fade dark" id="editcardModal{{ this.id }}" tabindex="-1" aria-labelledby="ModalLabel{{ this.id }}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLab"> Edit Card</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/blog/{{ this.id }}/?_method=PUT" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="col-md-12">
                        <label for="formFile" class="form-label">Photos Article</label>
                        <input name="imgarticle" class="form-control" type="file" id="formFile{{ this.id }}">
                    </div>
                    <div class="col-md-12">
                        <label for="InputTitle" class="form-label">Titre</label>
                        <input name="title" type="text" class="form-control" id="InputTitle{{ this.id }}"
                            value="{{ this.title}}">
                    </div>
                    <div class="mb-3">
                        <label for="ContenuCard" class="form-label">Description
                        </label>
                        <textarea name="description" class="form-control" id="ContenuCard{{ this.id }}"
                            rows="3"> {{ this.description }}</textarea>
                    </div>
                     <div class="mb-3">
                        <label for="FormControlTextarea1" class="form-label">Contenu
                        </label>
                        <textarea name="contenu" class="form-control" id="FormControlTextarea1" rows="3">{{ this.contenu }}</textarea>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary">Save
                        changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>