{{!--
Partial : Admin/ Gestion utilisateurs
--}}

<!---=======Gest User========-->
<div class="accordion-item">
    <p class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            Gestion Utilisateurs
        </button>
    </p>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body table-responsive">
            <!-- Button trigger modal Gestin users -->


            <table class="table table-borderless table-secondary container">
                <thead>
                    <tr>
                        <th scope="col-xs-4">Image de Profil</th>
                        <th scope="col-xs-2">User Name</th>
                        <th scope="col-xs-2">Name</th>
                        <th scope="col-xs-2">First Name</th>
                        <th scope="col-xs-2">Email</th>
                        <th scope="col-xs-2">Gérer profil</th>


                    </tr>
                </thead>
                <tbody>
                    {{#each dbuser }}
                    <tr>
                        <th><img class="img-user" src="/assets/data/users/{{ this.imguser }}"> </th>
                        <td>{{ this.pseudo }}</td>
                        <td>{{ this.firstname }}</td>
                        <td>{{ this.name }}</td>
                        <td>{{ this.email }}</td>
                        <td scope="col-xs-2">
                            <a data-bs-toggle="modal" data-bs-target="#GestModal{{ this.id }}" class="btn"> <i
                                    class="fas fa-tools"></i></a>
                            <a class="text-danger" data-bs-toggle="modal" data-bs-target="#DelUser{{ this.id }}"
                                    type="submit"><i class="fas fa-trash-alt "></i>
                                </a>
                            </form>
                        </td>

                    </tr>
                    {{> modals/modalsuppruser }}
                    {{> modals/modalgestuser }}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>




</div>